    <div class="container">
      <h1><%= @channel.name %></h1>
      <% @videos.each do |video| %>
      	<% if video.converted %>
      		<div class="converted">
      	<% else %>
      		<div class="queued">
      	<% end %>
	
      		<h4><a href=<%= video.video_id %>>
      		
      		      	<%= video.title %></a></h4>
	
      		<p><%= video.description.truncate(300) %></p>
      		  </div>
      <% end %>



<div class="bs-callout bs-callout-warning">